.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html, body {
  width: 100%;
  margin:0;
}
.artists {
  background: linear-gradient(0deg, rgba(2,0,36,1) 2%, rgba(246,0,65,1) 96%, rgba(202,41,23,1) 100%);
}
.hitit {
  width: 10em;
}
.thumbnail > img {
  width: 200px;
  height: 200px;
  margin: 5px;
  margin-bottom: 40px;
}
.page-footer{
  background-color:#1B191A;
}
